
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 10px;
}

.footer {
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.container {
      width: 70%;
      margin: auto;
      text-align: center;
      /*padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;*/



}



.error{
  border-color: red;
}
.txt-left{
  text-align: left;
}

.txt-center{
  text-align: center;
}
.txt-right{
  text-align: right;
}
.error_message{
  color:red;
}
.white-text{
  color: white;
}
.dark-blue-text{
  color: #2c3e50;
}
#frontPageTeam{
  width: 100%;
  height: auto;
  margin: auto;
}
#teamPictures{
  min-width: 75px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: inline-block;
}
.dark-blue-background{
  background-color: #2c3e50;
}
.white-background{
  background-color: #eeeeee;
}
.silver-background{
  background-color: #bdc3c7;
}
a{
  color: #2980b9;
}

a:hover{
  color: #3498db;
}


hr{
  background-color: #2c3e50;
}
.middle{
  color: #2c3e50;
}
section {
  padding: 50px 0px;
  padding-top: 50px;
  padding-right-value: 0px;
  padding-bottom: 50px;
  padding-left-value: 0px;
  padding-left-ltr-source: physical;
  padding-left-rtl-source: physical;
  padding-right-ltr-source: physical;
  padding-right-rtl-source: physical;

  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}
