MAIN LOGIN PAGE

<br>
<br>
Nav bar with login/sign up buttons

<br>
<br>
Main content - existing projects or marketing materials


<a href = "/users/sign_in">Log In</a>
<a href = "/users/sign_up">Sign Up</a>

