
<html>
<head>
</head>

<body>
  <br>

<div class = "container">

  <% if user_signed_in? %>


  <h2>CS 4950: Capstone</h2>
  <hr>
  <img class = "img-rounded img-middle img-responsive" src = "CS_home.jpg">
</div>

  <br>
  <br>

  <h4>Class Description</h4>

  <hr>

  <p>One of the definitions of the word “capstone” is a crowning achievement.  This course is meant to provide the student an opportunity to perform a research project that he/she considers the crowning achievement of their undergraduate program at the University of Missouri Graduate School.  In the first term, students will be provided a list of available research mentors.  The students are responsible for contacting and meeting with potential mentors.  Once a mentor is chosen, students will then devise a research project with their mentor and determine the appropriate methodologies to be used to conduct the project.</p>

  <br>

  <h4>Project Postings</h4>

  <hr>

  <a href = "#">Project 1</a>
  <br>
  <a href = "#">Project 2</a>
  <br>
  <a href = "#">Project 3</a>
  <br>




</html>





<% end %>

