<% layout = "main_page" %>

<html>
<head>
  <style>
    
  </style>
</head>

  <br>

</div>

  <% if user_signed_in? %>

<section style = "background-color: #2c3e50; margin-top: -10px;">
<div class = "container">

  <h2 class = "white-text">Class Title</h2>

  <hr>

  <img class = "img-rounded img-responsive" src = "CS_home.jpg" style="margin: auto;">

  <br>
  <br>

</div>
</section>

<section class = "middle" style = "background-color: #eeeeee;">
  <div class = "container">
  <h4>Class Description</h4>

  <hr style = "border-top: 1px #2c3e50;">

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mauris erat, ullamcorper eu ex nec, 
  venenatis imperdiet erat. Praesent tincidunt, nibh ut pulvinar laoreet, leo risus maximus dui, non faucibus 
  magna elit ac nibh. Fusce in placerat mauris. Aenean sodales fringilla elit at tincidunt. Nam luctus nunc arcu.;klja sdlkf;j ask;ldjf a;klsd jf;lkajsdlf;k jasdk;lfj ;sadkljf k;salj df;kajsd ;kljaskd;lfj asd;klfj ;sakldj f;aklsjd f;lajsdk;lfj as;dklfj aks;ljf ka;lsdjf k;lajs dfk;lajs dfk;lja sd;kljfask;dlf jasd;kljf la;skdj fk;alsjd f;klaj sfdl;kjsadfkl; jasdfklj askdlf jaks;ldfj ksa;ljd k;lsa f</p>

  <br>

</div>
</section>

<section style = "background-color: #2c3e50;">
  <div class = "container">
  <h4 class = "white-text">The Teams</h4>

  <hr>


<% @teams = Team.all %>
<div class = "white-text" id = "frontPageTeam">
  <% @teams.each do |team| %>
<% @rand = rand(10) %>
  
    <div id = "teamPictures">
      <a href = <%= team_path(team.id) %> class = "white-text" >
      <img alt="Image Error" class="img-circle" float="left" src="http://lorempixel.com/200/200/animals/<%= @rand %>">
      <br>
      <%= team.name %>
    </a>
  </div>
 
<% end %>
  </div>
</div>
</section>


</html>





<% end %>