<% layout = "main_page" %>

<html>
<br>
</div>

  <% if user_signed_in? %>

  <!-- each section has the different blocks of colors -->

<section class = "white-background" style = "margin-top: -10px;">
<div class = "container">

  <h2 class = "dark-blue-text">CS 4950: Capstone</h2>

  <hr style = "background-color:  #2c3e50; height: 1px; border: 0;" >

  <img class = "img-rounded img-responsive" src = "CS_home.jpg" style="margin: auto;">

  <br>
  <br>

</div>
</section>

<section class = "middle silver-background">
  <div class = "container">
  <h4>Class Description</h4>

  <hr style = "background-color:  #2c3e50; height: 1px; border: 0;" >


  <p>One of the definitions of the word “capstone” is a crowning achievement.  This course is meant to provide the student an opportunity to perform a research project that he/she considers the crowning achievement of their undergraduate program at the University of Missouri Graduate School.  In the first term, students will be provided a list of available research mentors.  The students are responsible for contacting and meeting with potential mentors.  Once a mentor is chosen, students will then devise a research project with their mentor and determine the appropriate methodologies to be used to conduct the project.</p>

  <br>

</div>
</section>

<section style = "background-color: #2c3e50;">
  <div class = "container">
  <h4 class = "white-text">Teams</h4>

  <hr>

<!-- finds all teams -->
<% @teams = Team.all %>
<div class = "white-text" id = "frontPageTeam">
  <!-- searches through all teams -->
  <% @teams.each do |team| %>
<!-- generates a random number so we can assign different pictures to teams -->
<% @rand = rand(10) %>
  
    <div id = "teamPictures">
      <a href = <%= team_path(team.id) %> class = "white-text" >
      <img alt="Image Error" class="img-circle" float="left" src="http://lorempixel.com/200/200/animals/<%= @rand %>">
      <br>
      <%= team.name %>
    </a>
  </div>
 
<% end %>
  </div>
</div>
</section>

</html>
<% end %>

