<% layout = "main_page" %>

<html>
<head>
  <style>
    
  </style>
</head>

  <br>

</div>

  <% if user_signed_in? %>

<section style = "background-color: #2c3e50; margin-top: -10px;">
<div class = "container">

  <h2 class = "white-text">CS 4950: Capstone</h2>

  <hr>

  <img class = "img-rounded img-responsive" src = "CS_home.jpg" style="margin: auto;">

  <br>
  <br>

</div>
</section>

<section class = "middle" style = "background-color: #eeeeee;">
  <div class = "container">
  <h4>Class Description</h4>

  <hr style = "border-top: 1px #2c3e50;">


  <p>One of the definitions of the word “capstone” is a crowning achievement.  This course is meant to provide the student an opportunity to perform a research project that he/she considers the crowning achievement of their undergraduate program at the University of Missouri Graduate School.  In the first term, students will be provided a list of available research mentors.  The students are responsible for contacting and meeting with potential mentors.  Once a mentor is chosen, students will then devise a research project with their mentor and determine the appropriate methodologies to be used to conduct the project.</p>

  <br>

</div>
</section>

<section style = "background-color: #2c3e50;">
  <div class = "container">
  <h4 class = "white-text">The Teams</h4>

  <hr>


<% @teams = Team.all %>
<div class = "white-text" id = "frontPageTeam">
  <% @teams.each do |team| %>
<% @rand = rand(10) %>
  
    <div id = "teamPictures">
      <a href = <%= team_path(team.id) %> class = "white-text" >
      <img alt="Image Error" class="img-circle" float="left" src="http://lorempixel.com/200/200/animals/<%= @rand %>">
      <br>
      <%= team.name %>
    </a>
  </div>
 
<% end %>
  </div>
</div>
</section>


</html>





<% end %>

