<br>

Groups#index
<br>
This will display all groups
<br>
<% @all_users.each do |user| %>
	<%= user.first_name %>
<% end %>
<br>


<% Team.all.each do |team| %>
	<div>
		<%= team.id %>
		<br>
		Group/Team number here
		<%= usersInGroup = User.where(team_id: team.id) %>
	</div>
<% end %>


