Group Creation Page

 

<table>
	<% count = 0 %>
	<th>Available Users</th>
	<tr>
	<% @free_users.each do |freeuser| %>
		<td> <%= freeuser.first_name %> </td>
		<%  if count > 5 %>
				</tr><tr>
				<% count = 0 
			end %>

	<% end %>
	</tr>
</table>