<div class="container" style="margin-top: 40px">

<% if current_user != nil && current_user.team_id == @updateTeam.id %>
	<%= form_for(@updateTeam, url: {action: "update"}, html: { method: :put }) do |f| %>

	  <div><h4>Name</h4><% f.label :name %>
	  <%= f.text_field :name %></div>

      <div><h4>Description</h4><% f.label :description %>
      <%= f.text_area :description, :rows => 12, :cols => 40%></div>
	      
	  <br>

	  <div><%= f.submit "Update" %></div>
	<% end %>

<% end %>

</div>